:root {
  --color-primary: hsl(0, 36%, 70%);
  --color-secondary: hsl(0, 93%, 68%);
  --color-soft-accent: hsl(0, 6%, 24%);
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background-color: var(--color-soft-background);
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.grid--container {
  display: grid;
  grid-template-rows: 100px 250px 1fr auto;
  grid-template-columns: 375px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: 1440px) {
  .grid--container {
    background-image: url(bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 1440px 795px;
    grid-template-rows: 145px 400px 250px;
    grid-template-columns: 830px 610px;
  }
}

.card--logo {
  justify-self: start;
  align-self: center;
  margin-left: 3rem;
}

@media screen and (min-width: 1440px) {
  .card--logo {
    margin-left: 20rem;
  }
}

.card__image-mobile {
  min-width: 375px;
  width: 100%;
  height: 250px;
}

.card__image-desktop {
  display: none;
}

@media screen and (min-width: 1440px) {
  .card__image-mobile {
    display: none;
  }
  .card__image-desktop {
    display: grid;
  }

  .card--image {
    grid-column: 2/3;
    grid-row: 1/4;
  }
}

.card--content {
  text-align: center;
  color: var(--color-soft-accent);
  margin-top: 10rem;
}

.card__heading {
  margin: 0 auto;
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  margin-bottom: 3rem;
}

.heading__varient {
  font-weight: 300;
  color: var(--color-primary);
}

.card__info {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 300px;
  color: var(--color-primary);
  margin-bottom: 4rem;
}

@media screen and (min-width: 1440px) {
  .card--content {
    justify-self: start;
    margin-top: 15rem;
    margin-left: 20rem;
    text-align: left;
    grid-row: 2/3;
    max-width: 350px;
  }
  .card__heading {
    margin: 0 0 2rem 0;
    font-size: 5rem;
  }

  .card__info {
    max-width: 450px;
    margin-bottom: 3rem;
  }
}

.card--input {
  margin-bottom: 5rem;
  position: relative;
}

.input__email {
  outline: 0;
  font-size: 1.5rem;
  padding: 2rem;
  width: 30rem;
  border-radius: 30px;
  border: 1px solid var(--color-primary);
}

input[type="email"]:focus {
  box-shadow: 0 0 6px var(--color-secondary);
}

::placeholder {
  color: var(--color-secondary);
  opacity: 0.3;
}

.input_icon {
  position: absolute;
  right: -20px;
  color: white;
  border-radius: 100%;
  font-size: 3rem;
  padding: 1.2rem 3rem;
  border-radius: 40px;
  background: linear-gradient(
    135deg,
    rgba(248, 191, 191, 1) 0%,
    rgba(238, 140, 140, 1) 100%
  );
  border: 0;
}

@media screen and (min-width: 1440px) {
  .card--input {
    grid-column: 1/2;
    align-self: flex-start;
    justify-self: start;
    margin: 2rem 0 0 20rem;
  }

  .input__email {
    width: 350px;
  }
}
